.grandparent_projects {
}

.parent_projects {
}

.grandpparent_projects_content {
}

.parent_projects_content {
}

.projects_header {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.projects_content_parent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}