.grandparent_connection {
    border: solid red 1px;
    padding: 5px;
    padding-top: 80px;
}

.parent_connection {
    border: solid red 1px;
    padding: 5px;
}

.grandpparent_connection_content {
    border: solid red 1px;
    padding: 5px;
}

.parent_connection_content {
    border: solid red 1px;
    padding: 5px;
}

.connection_card_parent {
    border: solid red 1px;
    padding: 5px;
    display: flex;
}

.card_connection {
    border: 1px solid red;
    width: 300px;
    height: 400px;
    padding: 5px;
    box-shadow: 3px 4px 0px 4px black;
    margin: 0px 10px;
}

.card_image {
    border: solid red 1px;
    padding: 5px;
    height: 210px;
}

.card_description {
    border: solid red 1px;
    padding: 15px;
}

.card_connection_buttons {
    border: solid red 1px;
    padding: 5px;
    box-shadow: 2px 3px 0px 1px black;
}

.connection_header {
    display: flex;
    justify-content: center;
    font-size: 40px;
}