@import "tailwindcss";
*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box ;
}

:root {

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
