.thread_main-parent {
    height: 65px;
    border-left: solid 3px #000000cc;
    border-left-radius: 2px;
    bottom: -12px;
    left: -37px;
    border-bottom: 10px 10px 10px 10pxblack;
    border-right: none;
    border-radius: 0px 8px 1px 13px;
    border-radius: 0px 3px 1px 41px;
    border-bottom: solid 2px #000000;
    width: 44px;
    /* border: solid red 1px; */
    position: relative;
}