.grandparent_gallery {
    width: 100%;
    min-height: 500px;
    background-color: #fdf3e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}