.grandparent_leaderboard {
    border: solid red 1px;
    padding: 5px;
    padding-top: 80px;
}

.parent_leaderboard {
    border: solid red 1px;
    padding: 5px;
}

.grandpparent_leaderboard_content {
    border: solid red 1px;
    padding: 5px;
}

.parent_leaderboard_content {
    border: solid red 1px;
    padding: 5px;
}

.leaderboard_header {
    display: flex;
    justify-content: center;
    font-size: 40px;
    border: solid red 1px;
    padding: 5px;
}

.leaderboard_content_parent {
    border: solid red 1px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}